<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet/less" type="text/css" href="assets/css/main.less"/>
    <script src="assets/js/less.js" type="text/javascript"></script>

-->  
    <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
    <script src="assets/js/jquery-1.12.2.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript">
$(window).load(function() {
    $(".loader").fadeOut("slow");
})
</script>
    <meta charset="UTF-8">
    <title>Saskia De Ceuninck</title>
</head>
<body>
<div class="loader">
    <div class="row content">
        <div class="row head titel">
            <span><a>Saskia De Ceuninck</a></span>
        </div>
    <!--<span><a href="#"ng-click="doShowOhneTitel()">ohne titel #1(2015)</a></span>-->
    </div>
</div>
<div ng-app="saskia">
<div ng-controller="IndexController" class="container">
    <div class="row content">
        <div ng-show="showIndex" ng-include="'assets/partials/indexhtml.html'"></div>
        <div ng-show="showOhneTitel" ng-include="'assets/partials/wendy.html'"></div>
        <div ng-show="showOver" ng-include="'assets/partials/about.html'"></div>
        <div ng-show="showContact" ng-include="'assets/partials/contact.html'"></div>
        <div ng-show="showFotos" ng-include="'assets/partials/fotos.html'"></div>
        <div ng-show="showFriends" ng-include="'assets/partials/links.html'"></div>
        <div ng-show="showAgenda" ng-include="'assets/partials/agenda.html'"></div>
    </div>
    <div class="row foot">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <a href="#" ng-click="doShowOver()">over</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <a href="#" ng-click="doShowFotos()">foto's</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <a href="#" ng-click="doShowAgenda()">agenda</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="#" ng-click="doShowContact()">contact</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <a href="#" ng-click="doShowFriends()">vrienden</a>
        </div>

    </div>
</div>
</div>
</body>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75657966-1', 'auto');
  ga('send', 'pageview');

</script>
    
</html>