
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <div class="row about">
        <p>Saskia De Ceuninck (°1978, Aalst)</p>
        <p>Regie</p>
        2008 Dollie of avocado's bij de lunch van Gerardjan Rijnders (Het Gezicht, Wetteren)<br/>
        2009 Lady Aoi van Yukio Mishima (TAL, Aalst)<br/>
        2010 De schaduw van Mart van Stig Dagerman (Theater De Balsemblomme, Gent)<br/>
        2010 My fair lady (Operette Podium, Tielt)<br/>
        2011 De Bever. Geïnspireerd op leven en werk van Simone De Beauvoir (Lust naar Kunst, Lokeren)<br/>
        2012 Aai me. Cabaretvoorstelling van Wouter Vanhoutte<br/>
        <p><br/>Performance</p>
        2010 Buitenspel (Gentse Feesten, Café de Loge)<br/>
        2011 De witte raaf (Gentse Feesten, Café de Loge)<br/>
        2013 Groei (BOM festival, Bij de Vieze Gasten, Gent)<br/>
        2013 RAM i.s.m. Tessa De Ceuninck (Hotel le Berger, Brussel)<br/>
        2014 Amòr'Allez (Gentse Feesten, Café de Loge)<br/>
        <span><a href="#"ng-click="doShowOhneTitel()">2015 Ohne Titel # 1 i.s.m. Roeland Nieuwborg (Gentse Feesten, Café de Loge)</a><br/>
        <p><br/>Theater</p>
        2007 Gelukkige dagen van Samuel Beckett (Theater Malpertuis, Tielt)<br/>
        2013 Autocar**** (studio madelein, Gent)<br/>
        2015 Kastanjestraat 111 i.s.m. Pieter-Jan Nicolaas (BOM festival, Bij de Vieze Gasten, Gent)<br/>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75657966-1', 'auto');
  ga('send', 'pageview');

</script>