<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <div class="row about text">
    	<!--<p><strong>Kastanjestraat 111</strong></p>
        Theater in het Park, zaterdag 29 augustus om 21u30<br/>
        Rozebroekenpark, Sint-Amandsberg<br/>
        Reservaties: <a href="mailto:theaterintpark@rozebroeken.be" target="_blank">theaterintpark@rozebroeken.be</a><br/>
        Website: <a href="http://www.rozebroeken.be" target="_blank">www.rozebroeken.be</a>-->
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75657966-1', 'auto');
  ga('send', 'pageview');

</script>