<div class="row fotos subtitel" ng-class="{head:fresh}">
    <div class="col-lg-4 col-md-4 col-sm-4 col col-xs-12">
        <a href="#"  ng-click="allowAmor()">Amòr 'Allez</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col col-xs-12">
        <a href="#" ng-click="allowBiss()">Kastanjestraat 111</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col col-xs-12">
        <a href="#" ng-click="allowOhne()">Ohne Titel #1</a>
    </div>
    </div>
<div ng-show="amorEnabled" class="row amorCarr">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" width="100" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="image in amorImages" ng-class="{active : $first}">
                <img src="assets/images/amor/{{image}}" class ="carrimg" alt="image" width="100">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="carrouselnav"><</span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="carrouselnav">></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div ng-show="bissEnabled" class="row amorCarr">
    <div id="myCarouselBiss" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="image in bissImages" ng-class="{active : $first}">
                <img src="assets/images/bissegem/{{image}}" alt="image" class ="carrimg">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarouselBiss" role="button" data-slide="prev">
            <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
            <span class="carrouselnav"><</span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarouselBiss" role="button" data-slide="next">
            <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
            <span class="carrouselnav">></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div ng-show="ohnetitelEnabled" class="row amorCarr">
    <div id="myCarouselOhne" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="image in ohneImages" ng-class="{active : $first}">
                <img src="assets/images/ohne/{{image}}" alt="image" class ="carrimg">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarouselOhne" role="button" data-slide="prev">
            <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
            <span class="carrouselnav"><</span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarouselOhne" role="button" data-slide="next">
            <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
            <span class="carrouselnav">></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75657966-1', 'auto');
  ga('send', 'pageview');

</script>