<!--<img class="bootimage" src="assets/images/boot.png"/>-->
<div class="row head titel">
	<span><a>Saskia De Ceuninck</a></span>
    <!--<span><a href="#"ng-click="doShowOhneTitel()">ohne titel #1(2015)</a></span>-->
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75657966-1', 'auto');
  ga('send', 'pageview');

</script>