<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
    <div class="row middle subtitel">
        <p><a href="https://www.deloge.be" target="_blank">café de loge</a></p>
    </div>
    <div class="row middle subtitel">
        <p><a href="http://averyprivatelife.tumblr.com/" target="_blank">a very private life</a></p>
    </div>
     <div class="row middle subtitel">
        <p><a href="http://hallveigagustsdottir.com/" target="_blank">hallveig agustsdottir</a></p>
    </div>
</div>
<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">

    <div class="row middle subtitel">
        <p><a href="http://www.roelandnieuwborg.be" target="_blank">roeland nieuwborg</a></p>
    </div>
    <div class="row middle subtitel">
        <p><a href="http://tessadeceuninck.com" target="_blank">tessa de ceuninck</a></p>
    </div>
    <div class="row middle subtitel">
        <p><a href="https://evelynemeersschaut.carbonmade.com" target="_blank">evelyne meersschaut</a></p>
    </div>
</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75657966-1', 'auto');
  ga('send', 'pageview');

</script>